span.qty{
  margin-right: 15px;
  font-size: 0.75rem;
}
span.demandNum{
  min-width: 30px;
  border: 1px solid #eee;
  padding: 3px 5px 5px;
  margin: 0 5px;
  font-size: 12px;
}
.user-cart{
  margin-right: 15px;
  ion-icon{
    font-size: 30px;
    // color: #033A69;
  }
}